In [1]:
seconds_in_a_day = 24 * 60 * 60
seconds_in_a_day

86400

In [2]:
seconds_in_a_week = 7 * seconds_in_a_day
seconds_in_a_week

604800

In [3]:
import numpy as np
import IPython.display as display
from matplotlib import pyplot as plt
import io
import base64

ys = 200 + np.random.randn(100)
x = [x for x in range(len(ys))]

fig = plt.figure(figsize=(4, 3), facecolor='w')
plt.plot(x, ys, '-')
plt.fill_between(x, ys, 195, where=(ys > 195), facecolor='g', alpha=0.6)
plt.title("Sample Visualization", fontsize=10)

data = io.BytesIO()
plt.savefig(data)
image = F"data:image/png;base64,{base64.b64encode(data.getvalue()).decode()}"
alt = "Sample Visualization"
display.display(display.Markdown(F"""![{alt}]({image})"""))
plt.close(fig)

![Sample Visualization](data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAZAAAAEsCAYAAADtt+XCAAAAOXRFWHRTb2Z0d2FyZQBNYXRwbG90bGliIHZlcnNpb24zLjcuMSwgaHR0cHM6Ly9tYXRwbG90bGliLm9yZy/bCgiHAAAACXBIWXMAAA9hAAAPYQGoP6dpAABZoUlEQVR4nO2deXwU9f3/X3vnTkgghAgBBCsoShE8wO9PrVIOrZVKW2utBbXWKlaQr/arrVS/2hZbW6wHpZeCLSqKBVS+eCA3CghIgHCEAIEEct/ZbPacz++P2c/szOzsNbubDeH9fDzygOzOznxmMzOvz/v8GBhjDARBEAQRI8ZUD4AgCII4NyEBIQiCIHRBAkIQBEHoggSEIAiC0AUJCEEQBKELEhCCIAhCFyQgBEEQhC5IQAiCIAhdkIAQBEEQuiABIQiCIHRBAkIQBEHoggSEIAiC0AUJCEEQBKELEhCCIAhCFyQgBEEQhC5IQAiCIAhdkIAQ5yQGgwFr1qzpM8fhzJ49GzNmzJB+v+GGGzBv3rykHnPZsmXIy8tL6jGIvgkJCKFJY2MjHnzwQZSUlMBms6GoqAhTp07F559/nuqhxc3evXthMBiwc+dOzfdvuukm3H777QCA2tpaTJ8+vSeHp2DVqlV47rnnEra/YcOG4c9//rPitTvuuAPHjh1L2DGI8wdzqgdA9E5mzpwJt9uNN954AxdeeCHq6+uxYcMGNDc3p3pocTN+/HiMHTsWr7/+Oq655hrFe6dOncKmTZvw4YcfAgCKiopSMUSJ/Pz8pB8jPT0d6enpST8O0QdhBKGitbWVAWCbN28Ou92f/vQnNmbMGJaRkcEGDx7MHnzwQdbZ2Sm9v3TpUpabm8s+/PBD9rWvfY2lp6ezmTNnsq6uLrZs2TI2dOhQlpeXx37+858zr9crfW7o0KHs2WefZT/4wQ9YRkYGKy4uZq+++qri2ADY6tWrpd+rqqrY9773PZabm8v69evHvv3tb7PKysqQY3/55ZdZTk4O6+rqUrz+9NNPs+LiYmk88uO4XC42Z84cVlRUxGw2GyspKWG/+93vGGOMVVZWMgBs3759Qd/jpk2bGGOMeb1edu+997Jhw4axtLQ09rWvfY39+c9/Vhx/1qxZ7LbbbpN+v/7669ncuXMZY4xt2rSJAQj6mTVrFmOMsePHj7Nvf/vbrLCwkGVmZrIJEyaw9evXK/al/qz87yTnL3/5C7vwwguZxWJhX/va19i//vWvoO//H//4B5sxYwZLT09nI0eOZO+//37I75vom5ALiwgiKysLWVlZWLNmDVwuV8jtjEYjXn75ZRw6dAhvvPEGNm7ciF/84heKbRwOB15++WWsWLECH3/8MTZv3ozvfOc7WLduHdatW4d///vf+Nvf/ob33ntP8bkXXngBY8eOxb59+/DEE09g7ty5WL9+veY4PB4Ppk6diuzsbGzbtg2ff/45srKyMG3aNLjdbs3P3HXXXXC5XIrjMsbwxhtvYPbs2TCZTEGfefnll/HBBx/g3XffRXl5Od58800MGzYs5PejRhAEDB48GCtXrsThw4fx61//Gr/85S/x7rvvRvX5SZMmoba2VvrZuHEj0tLScN111wEA7HY7br75ZmzYsAH79u3DtGnTcOutt6KqqgqA6A4bPHgwnn32WWkfWqxevRpz587Ff//3f6OsrAwPPPAA7rnnHmzatEmx3f/+7//i+9//Pg4cOICbb74Zd911F1paWqL+Pog+QKoVjOidvPfee6xfv34sLS2NTZo0iT355JNs//79YT+zcuVKVlBQIP2+dOlSBoAdP35ceu2BBx5gGRkZCktl6tSp7IEHHpB+Hzp0KJs2bZpi33fccQebPn269DtklsG///1vdvHFFzNBEKT3XS4XS09PZ5988knI8f7gBz9g119/vfT7hg0bGABWUVGheZyf//zn7MYbb1QchxONBaLFnDlz2MyZM6Xfw1kgcpqamtiFF17IHnrooZD7ZoyxSy+9lL3yyivS70OHDmUvvviiYhu1BTJp0iR2//33K7b53ve+x26++WbpdwDsqaeekn632+0MAPvoo4/CjofoW5AFQmgyc+ZM1NTU4IMPPsC0adOwefNmXHHFFVi2bJm0zWeffYabbroJF1xwAbKzs3H33XejubkZDodD2iYjIwMjRoyQfh84cCCGDRuGrKwsxWsNDQ2K40+cODHo9yNHjmiOdf/+/Th+/Diys7Ml6yk/Px9OpxMnTpwIeY733nsvtm7dKm3z+uuv4/rrr8fIkSM1t589ezZKS0tx8cUX45FHHsGnn34act+hWLx4McaPH48BAwYgKysLf//73yULIVo8Hg9mzpyJoUOH4qWXXpJet9vteOyxxzB69Gjk5eUhKysLR44ciXn/R44cwbXXXqt47dprrw36/i+//HLp/5mZmcjJyQn6OxJ9GxIQIiRpaWn45je/iQULFuCLL77A7Nmz8fTTTwMQg83f+ta3cPnll+M///kP9u7di8WLFwOAwm1ksVgU+zQYDJqvCYKge5x2ux3jx49HaWmp4ufYsWP44Q9/GPJzN910E0pKSrBs2TJ0dHRg1apVuO+++0Juf8UVV6CyshLPPfccuru78f3vfx/f/e53AYjuPEB0g3E8Ho/i8ytWrMBjjz2G++67D59++ilKS0txzz33hHSzheLBBx9EdXU1Vq5cCbM5kAfz2GOPYfXq1fjd736Hbdu2obS0FJdddlnM+4+WRP8diXMPysIiouaSSy6RaiL27t0LQRDwpz/9SXp4RuvLjwZ1iu3OnTsxevRozW2vuOIKvPPOOygsLEROTk7UxzAajbjnnnvw2muv4YILLoDVapUEIRQ5OTm44447cMcdd+C73/0upk2bhpaWFgwYMACAmPY7btw4AEBpaanis59//jkmTZqEhx56SHotnIWkxaJFi/Duu+/iiy++QEFBQdD+Z8+eje985zsARGE9deqUYhur1Qqfzxf2GKNHj8bnn3+OWbNmKfZ9ySWXxDRWou9DFggRRHNzM2688UYsX74cBw4cQGVlJVauXIk//OEPuO222wAAI0eOhMfjwSuvvIKTJ0/i3//+N/76178mbAyff/45/vCHP+DYsWNYvHgxVq5ciblz52pue9ddd6F///647bbbsG3bNlRWVmLz5s145JFHcObMmbDHueeee3D27Fn88pe/xJ133hk2nXXRokV4++23cfToURw7dgwrV65EUVER8vLykJ6ejmuuuQbPP/88jhw5gi1btuCpp55SfP6iiy7Cnj178Mknn+DYsWNYsGABdu/eHfV38tlnn+EXv/gFXnjhBfTv3x91dXWoq6tDe3u7tP9Vq1ahtLQU+/fvxw9/+MMgi2DYsGHYunUrzp49i6amJs3jPP7441i2bBmWLFmCiooKLFq0CKtWrcJjjz0W9ViJ8wMSECKIrKwsXH311XjxxRdx3XXXYcyYMViwYAHuv/9+vPrqqwCAsWPHYtGiRfj973+PMWPG4M0338TChQsTNob//u//xp49ezBu3Dj85je/waJFizB16lTNbTMyMrB161aUlJTg9ttvx+jRo3HffffB6XRGtEhKSkowefJktLa24t577w27bXZ2Nv7whz9gwoQJuPLKK3Hq1CmsW7dOssBef/11eL1ejB8/HvPmzcNvfvMbxecfeOAB3H777bjjjjtw9dVXo7m5WWGNRGL79u3w+Xz42c9+hkGDBkk/XFgXLVqEfv36YdKkSbj11lsxdepUXHHFFYp9PPvsszh16hRGjBghWU1qZsyYgZdeegl//OMfcemll+Jvf/sbli5dihtuuCHqsRLnBwYmd9oSRC9g2LBhmDdvXtJbeBAEER9kgRAEQRC6IAEhCIIgdEEuLIIgCEIXZIEQBEEQuiABIQiCIHRBAkIQBEHook9UoguCgJqaGmRnZ8NgMKR6OARBEHHDGENnZyeKi4ulWqPeRp8QkJqaGgwZMiTVwyAIgkg41dXVGDx4cKqHoUmfEJDs7GwA4hcdSy8kgiCI3kpHRweGDBkiPd96I31CQLjbKicnhwSEIIg+RW92y/dOxxpBEATR6yEBIQiCIHRBAkIQBEHoggSEIAiC0AUJCEEQBKELEhCCIAhCFyQgRK+mpq0b/9x2Ep1OT6qHQhCEij5RB0L0Xf6y+TiW76yCzWzE3ROHpXo4BEHIIAuE6NU0dboBAC1dZIEQRG+DBITo1Tg8PgCA0+tL8UgIglBDAkL0arrdXgCAyyOkeCQEQaghASF6NV0uskAIordCAkL0arq5C8tDAkLEj9Pjw+5TLfD6yKJNBCQgRK/GwV1YXrrhifj5y+YT+N5fd+A/X51J9VD6BCQgRK/G4RYtDxdZIEQCqGruEv9tcaR4JH0DEhCi18IYkwTESUF0IgHY/TE1fl0R8UECQvRa3D4BPoEBAFwURCdCwBgDYyyqbbtcoku0mwQkIZCAEL0W+U1OFggRitlLd+OWl7dHNcngMTWyQBIDCQjRa+lSCAjd8EQwHp+ALccacbi2A2Vn2yNub3eRgCQSEhCi18KLCAGqAyG06XQGrpF9VW0Rt+fC0e3xRtiSiAYSEKLXIp8lUiV67+PLyhYcb7CndAwd3YEeafuq2yJub6cYSEKJS0AWLlyIK6+8EtnZ2SgsLMSMGTNQXl6u2MbpdGLOnDkoKChAVlYWZs6cifr6eun9/fv3484778SQIUOQnp6O0aNH46WXXopnWEQfgVehA+TC6m00dDhx5z924t5lu1M6DrkFUhrBAmGMSUF0cmElhrgEZMuWLZgzZw527tyJ9evXw+PxYMqUKejq6pK2efTRR/Hhhx9i5cqV2LJlC2pqanD77bdL7+/duxeFhYVYvnw5Dh06hF/96ld48skn8eqrr8YzNKIPIHczOKmQsFdxusUBn8DQ0OlM6Tjk68ScbesOOx6XV4A/qU/qcEDER1zrgXz88ceK35ctW4bCwkLs3bsX1113Hdrb2/Haa6/hrbfewo033ggAWLp0KUaPHo2dO3fimmuuwb333qvYx4UXXogdO3Zg1apVePjhh+MZHnGOI58lur0CGGMwGAwpHBHBaex0ARAfyqn8u3Q4lbGM0qo2TLm0SHNb7r4CyAJJFAmNgbS3i1kQ+fn5AETrwuPxYPLkydI2o0aNQklJCXbs2BF2P3wfWrhcLnR0dCh+iL6Hw6W8yamdSe+BCwhjgFeIrgYjGahXqiwNEweRX08UA0kMCRMQQRAwb948XHvttRgzZgwAoK6uDlarFXl5eYptBw4ciLq6Os39fPHFF3jnnXfw05/+NOSxFi5ciNzcXOlnyJAhiToNohfhcCtnlxQH6T1wAQFE6zBV8BiIAeIYwmViKS0Qb9TFh0RoEiYgc+bMQVlZGVasWKF7H2VlZbjtttvw9NNPY8qUKSG3e/LJJ9He3i79VFdX6z4m0XtxeMgC6a30FgHp8FsgudltAIADZ9qk7gVqumQTEoHR9ZQIEiIgDz/8MNauXYtNmzZh8ODB0utFRUVwu91oa2tTbF9fX4+iIqWf8vDhw7jpppvw05/+FE899VTY49lsNuTk5Ch+iL6H2s1AFkjvodEeEJBUPoi5BZKX3QKT0Ysutw8VDZ2a23a5lBYtubHiJy4BYYzh4YcfxurVq7Fx40YMHz5c8f748eNhsViwYcMG6bXy8nJUVVVh4sSJ0muHDh3CN77xDcyaNQu//e1v4xkS0YfocqkFhGaMvYXeYoHwGIjF7EFudiuA0Om86utJbeESsRNXFtacOXPw1ltv4f3330d2drYU18jNzUV6ejpyc3Nx3333Yf78+cjPz0dOTg5+/vOfY+LEibjmmmsAiG6rG2+8EVOnTsX8+fOlfZhMJgwYMCDO0yPOZdTVwmSB9B4UAuJL3d+FWyBmswe5WW1oaR+A0uo2/OCqkqBtu9xkgSSauARkyZIlAIAbbrhB8frSpUsxe/ZsAMCLL74Io9GImTNnwuVyYerUqfjLX/4ibfvee++hsbERy5cvx/Lly6XXhw4dilOnTsUzPOIcR51qST7r3oEgMDTJXFiptAwlATF5kee3QEIF0smFlXjiEpBoshjS0tKwePFiLF68WPP9Z555Bs8880w8wyD6KMEuLLrhewNt3R5F6q47hcvDcheW2exBdoaYzl/Z1KVZm6KekKiz/IjYoV5YRK+FXFi9E3W1d2qzsMRrxGLywGpxi+PxCYpOzhy7ygKhGEj8kIAQvRZyYfVO5PEPoHcE0c1mL0wmH4xGUSRau9xB25ILK/GQgBC9Fl45bDDwZW3phu8NqAUklcLeIcVARCGxmkXhaHVoCYjahUXXU7yQgBARWbL5BB5buR9CD7escPhdWFaz+HCghoq9g95igbi8PunYZv81YrGI/7ZEZYFQDCReSECIsAgCw4ufHcN7e8/gVHNX5A8kEO5isPh92y6yQHoFQQKSojReeSt3s4lPNsJYIJJgiBMhskDihwSECEuT3SXN8nr6huPHs1oCnV+J1COvQgdSZ4F0ytxXPOHK4r9WWro8QdtzC4RfTyQg8UMCQoTlbFu39P+ejEEIApNucIt/VkkxkN5Bb4mB8NUIefwDgJSJpR1EF68fm1UcP60JEj8kIERYatoCKZs9ecPJ10DnDwUSkN4BFxCrRbw2Um6BmAOuLD7ZaAnjwuIWCGVhxQ8JCBGWGoUF0nMPCrl7gT8UyIXVO+AurHSbA0Dq/i5SCm/UFogoIDZyYSUMEhAiLHIXVk9aIDyF12QU8/sBskB6Ay6vD20O8YGdniZeG73SAtESEB5Ts4qWk7pQlYgdEhAiLKmKgfAUXrE4TPAfnyyQVNNsFx/MBoMAm9+FlbIYSBgLhIscx+MTJKEjCyRxkIAQYalJlYC4ZRaIv5DQ5aUbPtXw+IfN4pKEPdUWiMUcEItQMRB5DQhlYSUOEhAiLHIB6cmgo+TCMvlgNJEF0luQAuhWZ0BAUlQHErBA5OIQiIHIm71y95XR4JMEh4Lo8UMCQoTE4faiVeYK6Nkgut+FZfTCZKQYSG+BB9BFC0T8e6TaAjFrWCBegaFTZnVwC8RkCsTUqBtv/JCAECGRWx9AzwbR+bFMJh+MkguLLJBU09DhFxCrE0aD+PdIfRZWQAhMJgEmjYaKXEDMpsCEhCyQ+CEBOU85UtsR8QY626Zs252SGIjJK3Nh0Q2fahrt4jVhjSMGsrm8Aa9vr4x7LFoWCBBofdOiEJDAhMTkFxxq5x4/JCDnIXtOtWD6S9vwi/8cCLud2gLpyQe45HIw+qQZI1kgqUcKolv1C8jj7x3As2sP43iDPa6xdMrWApGj1Q/LrmGBUBA9fkhAzkN2nGgGAJyO0BzxbCsXEDEY2aMuLP/NbTZ5Ay4smjGmHIWA6HAtOj0+aR/1Hc4IW4dHvhaInIAFEhAWKaYmi4G4vQJ8Pdxhuq9BAtKH8ES5tOjhWnHpz0gzMG6B8Irjnq0D4Wm8Ppi4C4sskJTDg+hWi1OXBcJjKAAU66rrQb0WCIdbIG2O4BiISWaBANQPK15IQPoIr2yowOXPfIrDNR0Rt+UCEjkGIgpIZrroaujuySwsl7yQkLKwegNdLq8siB5wYbliWBO9TmZ18KJEPTDGFOuhy9GMgcgtWqMPgZbulIkVDyQgfYTtx5vQ7fHhwJm2sNt1OD043SxaFJFunpp2pYA4e7IORBZEl6fxynP7ieRRXteJRZ+WKzKZXt5YAZdXQLqtC+k2h5SFFYsFIhcQrXYj0eLyCvD4xGvBYlJex1ItiJYFYvTBYABlYiUIEpA+Qru/tXUkt9TR2k7p/+G29QkMtf4sLElAerASXO7C4jNdgYn5/UTyeWnDMby88ThmL9sNh9uLY/WdeG2bmDk16sIyGAyQLMNYOgQ0yC2QLv0uLF5ECDApq4qj1Q9LHkQHIKsFIQGJB3OqB0AkBt77J5JP93BNu/R/lz+IaDKKq/F4fQLOtnVjaEEmGjtd8AoMBghITxctlp6tRA/4rI0yn7XT44PFRPOeZMPdS/ur2/DQm1+h2+2DV2AYkF+Lwvx6ANAVA6lrT4wLK7CYlFdaTIrDW5W0yoPoroALC4C/VsRGAhIndCf2EbgFEilOwOMfHLngLN50Ate/sBmvba+U4h82m1O66XrUApF81j7JVQJQO5OeQr5c7ObyRuyqbIHR6MPo4WXS6/G6sJrjcGGFqgEBtPth2WVZWOK/PePCand48NCbe/E/7x3ok+5XEpA+gMvrk4Qg0g1xSBVkl8dByuvF91745Ch2VYqpvum2bpm/uOce3lIlutGr211C6Ie7fC4cfAwGiH/3EUPKpRbugMwCCRFEb+/2YN3BWsWkRp6FFU8MRGs1Qo7VIr4mj9841C4sf7V6soPoLQ431h2sw9oDNTCoTaU+AAlIlNS1O7Fo/THNhWpSDbc+gPAuLLdXQEW9snhLLji8WtfpEfDn9RUAgDRbd0qyoAJBdH8TPGNgbETy4RlOgwacxfhLd+Jrww5hWPEJxTZSFlaIv8niTcfx0JtfYcWXVdJrcgsknjTeQCfeYAGwmP0uLIcbgj9mFqhEV1kgSb6m+feYk25J6nFSBQlIlLy2/SRe3lCB5z86muqhBNHuiE5ATjTa4fYJMJs8mi2t5S2v+awyzeZISTNDhyxrRv4vpfImH8aYLOjsQUFeE4ZfcAJGo9IFwwsJQ1kgvI7o4NkOab/y4sFOp1d3I0at1Qg53AIRWEBo7C6VC6uHqtH58bPT+ma4mQQkSmr8wT+1Sd4baOuWd8wNPTZeI5Kd2S4z4WUC4v9/Xnaz9Fq6tVuarXkFFnWxYrxIWVj+G16a7Z4jxYROj++cTRGVp8iaTaFdPPxv4hOYZkU3f2ifaBSt3vZuj+zvJ26v142ltRqhfFwmv7DwOAh3VZlNyusq3N/I7vLim4u24Lm1h3WNURynOI7sNLJAzmua/eZ2p8uLjUcbUjwaJXILJNyM6pAkIB2aQUR+k40sOYrMdDHdNzuro0cqd50eH361+iC2VTT6x6J0YUn9sDSO/1VVa1QFlD2Fy+vDTX/agtsWb4dXJrgNnU789F97sOVYYwpHF5lAAD04RVYOFxBAO5DeJRMQxpjkvrKYXZIFrDeVN5wFAgSq0blA2dUuLGNkF9bhmg5UNNjxfwdqdY0RADq6yQIhADTJUg5X7zubtON0OD0xz8rkFki4GdXhWjGFN0dhgQSvmWC1eHDVZdtx5ZjPkZfdCoNBAJ8xJsv6+risDm/uqsKCNWXwypYf5eOUYiCqILrd5cUP/r4Td/1zZ6/JcqluceBsWzeO1duxq7JFev217ZX49HA9Fm86nsLRRUbeJj1c3FcuIFrJDVyIOp1eNNpdqJdVsfNiP72pvB1hsrCAQDU6j1kGLBB1HUhogbS7/JmNcSRudJAFQgABCwQQ21HrCaY7PT6sO1grK4JS4vYKmLH4c1z/wibpJo6G9ihcWIwxpQtLI4goDzRaLR7k54quLHnlrjNJmVgn/W6OU80OVMi6tEouhxDrojd2uuD2Cmh1eHqNe6tG1gb/47I6AOL3z2ey/Fx7K/L4RziMBgY+sdC0QGQP5xMNXaj3u4HTrN2SBaLXhcXvIXUVOocLVIs/kC5fIln8N3IMhFst8bgiKQZCwOsTpJX50mwOeHwM/3cwdrP2nd3VeOjNr0LOQN8vPYuTjV3odHqlOoxoaJflu4cyyc+0dqPD6YXBICArozPoBvIJTPqslt87lAWQKE42BToDrz8sFqoZIPitn9BpvB1RWl89SW174G/3yaE6CALDgTPtOOPvbtxkdysa/fU2wsUX1BjDtNq3y2pJTjTapQC6zeqUBERvJla4OhAgUAvS2uVWCFnAAokiBuI/hssrSNlcesdJAnIeEyhIYigpOgUAWKPDjcVF4VRTcBt1xhj+se2k9Lv85otEWxRpvNuPNwEAcrPaYDQGfNtcQOSmPJ+lyUl24dUpWWv5Tw/XScfkLpRQabxya663dFaVWyANnS58VdUaNOE40UNWyNm2bpSdbY+8oQx5lXckwiU3cIsWEM+3TiEgwe1GYhtjlDEQh1u6xg0QpPFGY4HIsxL1TpykNF5yYZ2/cD+t1eLGoAHVABj2nG6NuJ6GGj5bbtLw+24ub8QxWY2GfD3nSCjqQEK4mLaUi4Hb/v3EBIBAcaA6G4spfNucaIKOemGMobIx8F2W+dM+5QHcgAtLbYEEtuktAhKwQMRZ60dldZL7yugX5xMNsV07epn1+peYsfhzRQuRSER6OMsJVY3u8voU6b0nGrskCyTNFrBA5DGQL443Rbynmu0uvLa9Ekf8Pd1CWUnyGIhd1tmZT0ii6YUlvwf11h9xMc4hC+T8JSAgLqTZXCjIEx/Gv1x9MKYFafjFpGW2/22rskirKwYBaXOEj4F4fAI+91sg/fP8AqK6geRrRmsFTpNZTNhod/lTiJnC+pFnf4VylSgskB5yYTV0OvHPbSdDHq/W/7AuzBctqbd2VeFsWzdMRi8GDRAt156wQASB4WSjHV6B4Uht9FlqUgwkKheWdjW63PoAgBMNdlkQPWCB8CysI7Ud+OE/d2H20t0hkyFW7qnGNQs34Lm1h9He7YHZ5EF2hvZ5BTryeoL6YAEBK7vbE/oc5feg3slJp4uC6Oc9/CLns6ZRw8tgMnrx+fFmvLKxIur98IedOvPkwJk27DzZAoNBQHZmG4DYXFjqSnT1Dbj3dCs6XV5YLS7kZIn7D3ZhKdMc1SSzkI9bH+k2B/JzmwLHNAWOFdoC6XkX1nNrj+A3/3cEr3+uva43F5ALBlbBZPRK4yrMr0NOpuhOinc512ho6/aAz29OxWAtd4ZYqEkLfl2oLRC7LBUYEF1p3LpIk8VAeD+sr6paAQCVTV1B/do4H5XVweNjyMrowOgLD+D/jf8MaTZty4rHQE402NHWLf5fYdFGYYHI70G9kxOKgfRRulxevLKhAj/9156IAbImmQUCAFkZdlwyQlxP/KUNFfj8eBNautwoO9se1qcrr4qVPwhf2y4+iAb1P4usDLu0TbTIBcQnsKDZIK87KMhrCJjwqvUQ1O2u1SSz9QN/uGWkd0nWnXjMwFiiioH0gAXi9QnYUi5acXtOtQS9zxhDrWwhLu4yBICi/jVSfU1PWCDyzEGtuFsoIl0LcniSgzq5wS6lhLuk1iI89VZhgfjvLbmF9Omheu1x+T8/Ykg5SgadkirOteiX0wKzyYOTTV343Tqxe4SWgIQNosvignonTgEBIQukT2E1G7Fkywl8erge5fWdYbdttistEAAoLjyDCwpPgzHgrn/uwhXPrce3XtmOb764JeTFJn/Y8XWhAeDAmXb/PqulWV9nLEF0VUaPOtV2M49/5AUeZmpBcKi6lapJZi8qnoGVmW5XCoimCyt0DKQnWnPvP9MmPQhLq9uCrL0Op1eq6E+zOjGwQIx9mEweFPRrkCYIVS2OpDeGlMfaTvkXEYuGUGuNaxGqpbtchPh6MoAYyLZaXEFpvPJ1aj49rC0gHTGMy2Z14bKL9gEIiJO2Cyu6ILreiRO3kMkC6WNYTEZMGJYPANhxojnstjxmYbMoH9SjLzwouZw4zXa3tOKfGrko8H0yxqQAZ5qtW3qARxsDEQSmsEAA5cVe3+H030AM/fvJH85KF5ZUA2LUvlGSuYIbnx1npHUhM90Om0X8PrSD6KEtkJ5oMcOTEQDRv17Vovxb8wC6xeyGyeTDwIIalAw6gUtH7IfJKD48zSbRtRTqOkkU8irvZLmwQglIVwgBsVldMBgCkzFujR+tCwjIkdoOVLcEfzfR1qdwCgvqMOyCQMo8ubASz3krIAAwaUQBAOCLCALSrHJhcUwmAVdfvh3/b/xn+ObEtcjJ4n5cbfeEvDiQ77OjO+AjT7N2S7OkaF1YdrdX8nPz5nZyAeHuq9ysNsltII6db6sUrJAuLP4AT8Ks+VST+LDISLfDYIBkhZi1LBCVSETTifhkox1zV+yLyY0TikAbEvFL31fVpnifr+KYZhOFxGhkGH3hIQwaUANALMrkD9Rkx0Hk7tQzrd2KPmYfl9WivE7b8o4ljddk0A6id8qaF2ZmyAWkW9o3d3/tr26D3SX+npctugXXa1ghsbjWOBcNPYJ+OeL9zVN7gegmRHZFFlbs173TE8hEIxdWH2TihaKA7KpsDptN1dSlLSCA+GDNSHPAaBSQmS4+oCqbgmdPbq+gmD1zCyTQH8gNk0mQbo5o03h5Hyyj0SsVVclvCnX6LsesyoPvihBEl1xYOmdi2yoa8ZfNx4PiTYLApNlxZpr47+CBp2GzODEgP/AQMYUoZJQH0UPNJn+37gjeL63B32V1NnpotrtwwF9TMbBAFITS6jbFNnwd+TRr6ELQzAx/HCTJAiJ3YfkEJhUyflXVip8t/wo/+Zd2xlMgCysaC4QLewgLxOxRWiD+oLfcCuEZglkZndL3qhYQxlhMlpE0PgPD10ftxogh5Rg+WGaNyFr5hMr6ssfpwpJ7HLJsZIH0OS4tzoHZ5EWn0xu2GZ8UA7GGL3rKSBNvFC0LRN2aRC0gNqv4L/fvRpuFxWfgFrMnKK4hCExqTqgWEHUlrnrBHTXxBtGf+eAQ/vBxOT4+VKd4vbbDCZdXrDhP8y9W1C+3BTdc9SmK+tdI24Vae6LDGX6W2Njpwia/iMaSyqrF9uNNYExsBTOwQDyPfSoBUVsgWvAHarID6c2qdHEu1F/6+3NVt3Qr2sZw5L2wImHgfxefdhaW2eRTCEiaNZA1xS1iXuSandGBQv/3+uWpFkVsz+kRpEleNDEQOVaLGyNLyqUJHhC4ngUWusNzV5wWiPx75MtG9zXOawExm4wY0K8NALDjZFPI7UK5sNQELJBgV4k6KM5nh3WqGas5xhgIrwGxmD1BqbZ2t1d6wGZnKKuR1ZW4gSU/w8dA9AbR+fl+UFqjeJ2n8Gakdfl7K2kTqpVKpFYma/adlR485XWdCgtoyeYTuPu1XVG7C7fIkhFys0V35eGadsXDRbJAohKQ5BYTqtPFuQtvnz9lFlDGdDj2WGIgIQoJ5fGK9DQHDH73qk0hIOL9tN+fRJKd2Y6MNAeyMjrgE5ii6zWvpxBrheJ3o8qv81BuLIUFosPyDrfoVV/hvBYQABiQJ95MoeIgDncgRhFJQDLSuQUS7MIKFhC/BdLuD9D7TXt+00b7UAtYIO6gwDh/EBgMQlB1uTqI6JCC6OFdWHosEPkCRRvLGxSB78rmgICEI5SAyfeldmExxvDe3jOK93nQ2ycwvLqxAtsqmrDhiHbWjxxBYNgqs+bSbQ5YzC54fExRtyBZINbQld9ZslRevT2W5OMKBQ+ip/u/Wy4gcrebVmv5WHphmSJkYZlMXhgNTJpcKQTEH5PgAp+dKX6Phfli5tommbjJ3VeJWBnWaGCSqDk0rmmX1yetiQIA3TomTiQgEVi4cCGuvPJKZGdno7CwEDNmzEB5ebliG6fTiTlz5qCgoABZWVmYOXMm6uuVN2xVVRVuueUWZGRkoLCwEI8//ji83p750gv9FsjuyhbNxZL4LM5o9Eac+XAffpPdFdRxN5ILiz9wuGsp2jReXiSl5cIKd9NJaYx+y6NL1e5aTTyFhA63T3pIuL0CPikLuLG4BSJ3c2gR6LkUOL7L61MIilrcDp5tR3l9J4xGn+Re5G6s8rpOKe6z82T4JAoAOFzbgSa7KNJ52S0wGIA8vxVSKguk10ZhgYgzcgEOt0+xxGusbCpvwKhff4zZS7/UtHr5tdvPH5g+1exAbXu3VBEOAF9WNiv6oAkCk6zR2HphKb97dVLG0EEnkZfdokglV0/IuIDwf+tkTSntMYhatARqQYL3qXYhx+PCIgEJwZYtWzBnzhzs3LkT69evh8fjwZQpU9DVFbiYH330UXz44YdYuXIltmzZgpqaGtx+++3S+z6fD7fccgvcbje++OILvPHGG1i2bBl+/etfxzO0qMnNssNidqPL7cNBjaZzTVINiDvizMds9sLqT0FVZ/yoBUXtwrKpXFixWyAyF5ZUHBg6b16yQPyV613SjDGSCyu+YCIAfLA/4MaSFxGGQ8sCUe9XPTZufRTm10qZOEf8mUd7ZW6cSGncQEBk8nObpKVduRuLx0EYY1IVejgBMRqZZHHpjYMwxvD7j47C7RWwubwRU17cghc+OapIBuHXbp4kIF1S1lh2ZjvSbV1w+5hCQLvcXvCYcjQuLD6LV1sgnSoBGVxUhasv3w6bLI5otQYExGoJFBda/MF7eYadngysSKgTSeSoW7Houe6llvPm5KeXp4q4BOTjjz/G7Nmzcemll2Ls2LFYtmwZqqqqsHfvXgBAe3s7XnvtNSxatAg33ngjxo8fj6VLl+KLL77Azp07AQCffvopDh8+jOXLl+PrX/86pk+fjueeew6LFy+G2538ltcGA9DP3z5D60ESbfyDEyoOwmMRaTbRhRKwQFz+17kLKxADiWaBJJ6FZTZ7gtxMHWF82dwCYf4gIr+JQt2gxjiC6HwmxtM2Pz/ehIZO8XwrpRqQSBZIsIB1qOpf5DNpl9eH9/3xlgsKq6VZLbdA9p0OCAifmYeDNwKUW0q52W0AgNJqcV8tXW4pIBvOhSXfj95MrM3ljTha1wmTyYuCvAZ4fAyLN53Au3uqAYgPdP73z8sRx3emtRu7/dXzedmtUmLFZpmriD+otdyeWkRTBxIKeVot//sA2gKiJwMrEup2PnICMReReLKwyAKJkvZ2cQafny8W6O3duxcejweTJ0+Wthk1ahRKSkqwY8cOAMCOHTtw2WWXYeDAgdI2U6dORUdHBw4dOqR5HJfLhY6ODsVPPOSHEZBAEWF0AhLIxFIKCL+YuJurzeGBxycEOpRalTEQr8CiWiApEER3h3FhhbZAAPEG6pL5rLWIJ4guiae1G7lZLRAYsO6AuLY8LxjLjGCBaLUN71BZIHI/9dZjTWjv9iDN2o2CvMYgAeG9l/gMetfJ4LYkcrQmErn+up/qlm40212S9WG1OCM+fKVaEJ0WyJLNJwAAQwaewvhLdqJkkJiizLsatPozmAwQkJXRAaPRC5/AsM7fVj43u1VyJ8njILHGGkwh2rlzF1C4JXHl36VcQMyaAhJ9FXq0hOswrbZA9ATRO0hAokcQBMybNw/XXnstxowZAwCoq6uD1WpFXl6eYtuBAweirq5O2kYuHvx9/p4WCxcuRG5urvQzZMiQuMZe4BeQXZXNQS6F5jA1IFqEtED8N0N6WhcMEG+2unanVOzFXVjig120PKKJg2i5sLpVQXStfH6DITCrd7i90g0TKQaiLxslcPPzbrR/3lCB8c+th1cQO/DaIszYtVxoagtE7ss+0yoKE49X8AfUmVaxqR9v7VFcKLq5InYjkK6DwKzZYvZKva02Hm1ATVvk+AcnM117ohENe0614MtTLTAafBhafAIGg1goCkBqWMgnPha/6zUjTTxfHv/IzWpFfm4TDAYBp5sdkss1lgA6EEUWVpj9yL9LeZYgb4To9AiBjMJkuLD898Xmow1B76mzIOOxvElAomDOnDkoKyvDihUrErXLkDz55JNob2+Xfqqrq+PaX2a6Hf3z6uHxMfzivQOafmSrJTp3WkaIB4N8BTW+VsGhGvGmMRp9ktluMARmbdHEQQJBdHfQQ7YzwrKfgUC6Twqi64mBnGy0Y/KiLfjblhOan5XPaov618AAAW0OD7rcPlgtLowoKY8429UqWAvXwkUtnhazB2lW8SH69pfi9ZKZ3omB/oyfnZXhBUSrHxog9i8DgJc3VkgZXpHcV+Kx/ddJFKm8gsDwzAeHMG/FPqzcU42XNogdoAcNOIM0mzLTirdHUVtM8iw3s8mNzHQ7zGafFBviVkgsNSBA6Hbu0TzwQ1ogJi/4JIpPEmJJLY6WocWi1fbGjtN4v1S5QJy6kDee2F+o+68vkBABefjhh7F27Vps2rQJgwcPll4vKiqC2+1GW1ubYvv6+noUFRVJ26izsvjvfBs1NpsNOTk5ip94MBiAS0buh8nkwd7TrVgqa9MdTwxEHsMIzEY8sPmDhzxob7M6FQ/QWGpB2ru5mRychWWP5JaSpfJGjIGEEZAtxxpxvMGOhR8dxb93ng56Xy6eNqsL40Z/iYuHlWHi2M244cpPMPwCbeFRjFX2oOICLzXXM4l/I7l1pPUA4w+plf44QV52C/rltABgON3skCwILVpCWKIlgyphtThR3dKNf24Tr5toLBA+0ahpdypiN1rsOd2KZV+cwprSGjz+3gFsq2gCwDBc1ueJC0RNezdcXp+Uwsv7t2WoYjf8euNtY3g1eKz9pvh1EToGEno/NqsTZpMHVotL2XDREBwHUQflE0Fhfj0uHHwMAPA//zmgKDRV33vRuG7/70AtnvjPAem7IAskAowxPPzww1i9ejU2btyI4cOHK94fP348LBYLNmzYIL1WXl6OqqoqTJw4EQAwceJEHDx4EA0NATNy/fr1yMnJwSWXXBLP8GIi3ebExcPEmMsLn5RLFoR6LZCI+0nrAiC2XWiW9SKSxyP4vvjKe+q2F+YYUnn5eugWWRCdi0EgiKd9E8uLCSWxCVEHEq4SXd4R99fvl+Ej1fKtaktoQH4Dhl1wEjlZHVHn9BtlKdT8BuXH5QkIcgHp1BBPLiD875KX3Qqz2SutkbIrhBXCGAtMJFTdCMwmH0YMER9CgZTsyAJitXikNueR3Fg88J2Z3umPuzBcMLAKmRmBz1ktbphMHjDGYzKhLRCefgxAWp+kUu3CitYCidDOPVwMxGQSMHHsFlxz+VYps42jjoPE6lqLlpElR1GQ1wCnR8DPlu+VzkOK4UTRtZfz/MdHsGJ3tSTGFESPwJw5c7B8+XK89dZbyM7ORl1dHerq6tDdLd5Aubm5uO+++zB//nxs2rQJe/fuxT333IOJEyfimmuuAQBMmTIFl1xyCe6++27s378fn3zyCZ566inMmTMHNpst/jOMgcEDq1CQ2wiXV8CCNWUAEPLBEQqTUUC6P9NK/mDokC0Tym9q7sJSuzxiKSZsUxQSqrOwxPdCWyBcqDzSQzl0LyztbrhA4CY3m9xgDHhkxT4cPBPwaXeGicVEi7wGx6k6Px4/0XZhBQsIh2cnhUuiAEQx4i4aqzl4IjF44Gmk2wJ/62gsEEA7Xvbc2sO46U+bFatW8nVHhhSdwjVjt+GbE9fi0hH7FfsS4xzcjdUVtIaNXEB48B8Qa1IAsb08Yyxs3EwLreQGeRFeJCHKSHcgPS34++JxEH5txWoZRYvBAFz+tb0wm8Uu2nypXPl6JkDk2F+32yf1GuNxqICAUBqvJkuWLEF7eztuuOEGDBo0SPp55513pG1efPFFfOtb38LMmTNx3XXXoaioCKtWrZLeN5lMWLt2LUwmEyZOnIgf/ehH+PGPf4xnn302nqHpgruyDBCw/XgTDtW0B92I0ZCh8WCQWwM8o4vv22ZTC4iyjkOOIDB8XFaLdof40OfWhsUScGE5VUF0S4ibjj+U5U33zBFiIForHvIH+fALTkgppXKfcqx+dS0MhkAaMG9nwv3jmgKi8cDJypD72T1SADw/VxSOnSEysfgkwmT0wmQKFlCjkWFkSaCANtQqeWq4W+mkPw7i9Ql4c9dpnGjswlp/rYwgMOzxpxzn5bRIx9Oy3LhInGp2yPq3if9qpR8D4iqQBghweQU0dLr0x0BkAiIvwtP7N+dWM88yTMQ1FAqrxSNlR/J1evj1w93NkWIgJ5vsUv1MVUu3Ysx92QKJq0VkNHUKaWlpWLx4MRYvXhxym6FDh2LdunXxDCVhZKQ5MLB/DeqaBuO17ZVokXzJMQhIWheaoRaQQCaSOiCvdnmYzHzWFXzRrik9i/nv7sc3Lh6AP3x3rP9VBrPJE2SBRDL7ueDw2W643H+5a8vlFZBmMUm/S5lgFjcKchvR3FaIFoeW+y6+2aPR6IPPZ5QC6YH0YPGB7fQIEAQGo9EgC7oGxp2ZbofR6IUgmJGb3So9hPtlN8NgEFDV4sDhmg5cUqyMqakfxloMGnAGZ+pL4HBmBvUdC4U6E+toXadk4X12pAGzrx2OYw2d6HR6YTJ6gywoNTzT6nRzlyx7UPw3zebCqOEHYTT6FNef0ciQZutGtysTp5sdgVhDtBYILySUBdG7ZG1x9LYdUcdAklGJLsfqv4a4gHSpLZAIAiJvzc+TKSiN9zyFZ2es2XdWWmvDYo7OhQVoZ9jIH6LqB5E6hVWqRteIgfCq4U3ljVJPI7NZzNlX+2sjmf18e37ThPNXG2Uz71DrklvMHunh1CqL/3Qk6OZXr0mitkDk72kFXQ0GsWU4oIwDmM0+KRtr2RfB65xHY4UaDMCEMTtw/YT1MEfpsuAurJP+1HF5j6qdJ5vR4fRgt79zbl5OS9hmk0DA8j3V7AgIiMzlNrS4EkOKqoI+ly4TnphjIBpdknkRXrjrKRJBApIkFxaHTxD5vdCpEpBIFoi8MWZVS5e//Xzft0BIQDTIy25DbnaLQjzUQb5wqF1YjDHFcpy83QlH7fIItDMJvlkOyGILr26s8I+P37DKWo1IxVdqC8QcIoAO8OZz4kNCPRsLxEA8ktC2ODSKwBJggQCBOIw6BgLI13jXPvehgyqRndkupd9ySvikobQmqA16qAysoPEZtF1LociUubAYYwoB8QoMW8obsfuU332VHb7QEQi4sKqau6JegkD+ueoWh6blFg6tNN5INUXRYFbFQLiwxSNK4eCuqka7eC11qVxYkSyQEyoLxOkRpDgQCch5yNBBgcWHYol/ALIb2R+YdHllF5PJE+QOs4XIwlJbIN1uH47J1m/nbbD5Q1udahtpNhmIgUS2QOTbqwOK8viORcMCSUQQXX58viqh3PIxhuhErBat4sIzmPT1LZK7h5OX3YqcrFa4vQLe2qWcpTfHWAsULRk8Y8/lRZPdLbVZ57Gaz47USwH0fjnRC0h1a7c0k47m2pVcXy0OyXqIOo1Xo5BQEu94LBD/8TskAfEoXk80/Htq6NB2YXH3aCjkBchOj4CT0ppALGRcsS9AAhKCgQW1UmwiVgERs7AYuj0+NNndskaKDCaTOgbCggQl1KqEh2raITCxVYa8d5RkgajTeCO5sPzH4S6aSBe62gLgSBZICBcWfyjFW1AlZYJ5lTEQs2otFHn7+GgfYgZDYNLwr52nFQ9E7g6KJQ4WDUZZxl5pdZvkBrmo5CgA4OOyOtS0O2GAIDVuDIfN6pRalvCsqGiuXXkRYqyxBq06EB67i2fCIAXRuz3Kv2eSZvPcim30Txb4pMcmczfz77S924PXt1dK171PYDjp9zbwmNAh/wJ14tK9SRlyr4AEJARGI5PcGpFajWt9lgd2q1sdCktAvpQnID6UgnLg/Q98dTETtzhys1sxZNAp6fUgF5bHB5fXJ93UoW5k/tCNJgai3j/H6xOkm9tiDriwOl1eqT1+oiwQ/r00+ccrBe9VCQRyiy+WWXBR/xrYLE40drqknlGAsi1IouHX1pp9YtZaeloXBuTXwWpxSQ+s7Kz2qGax8pYlQHRLEABKiznWhAetdu7R9MGKhMUSiIF0e3ySOznpLiweRHcrLRAgcN0v33kaz649jOc/EoX+TKsDbq8Ao9EnW2jMLyBxXvO9HRKQMAwrPoFxo77ERUOPxvxZHpisbnFIZji/mIxGJj1obRo1A6FamRw40wYAyM1qxwWFVVIQnO9LPguPJpUykC4c3Wxd7UIClMWOYgzEA96GotXhVq1lHd/Nz7OQyus74fQoBVJeVS//3mJ54BiNDEMGiUH0ZV+ckl6PtRtBLPB42Xr/olZ5WWJ22IB+ge4M0bivpP3J6j2iWYIACFyrLV1uqblnPL2wounEGwneXaC92yNdPwYICVmNUAubJZCFJa+HsZg9klXBBYR3LNhwpB6MMSkDKzPdLn3/vMYrGWnHvQkSkDAYDEBhQZ0u3zd3TZxp7dac1fGHkVbfpFDrovPivJysVl

In [4]:
import pandas as pd

In [5]:
df = pd.read_csv('/content/train.csv')
df

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q

In [6]:
df.dtypes

PassengerId      int64
Survived         int64
Pclass           int64
Name            object
Sex             object
Age            float64
SibSp            int64
Parch            int64
Ticket          object
Fare           float64
Cabin           object
Embarked        object
dtype: object

In [7]:
df.describe()

,PassengerId,Survived,Pclass,Age,SibSp,Parch,Fare
count,891.000000,891.000000,891.000000,714.000000,891.000000,891.000000,891.000000
mean,446.000000,0.383838,2.308642,29.699118,0.523008,0.381594,32.204208
std,257.353842,0.486592,0.836071,14.526497,1.102743,0.806057,49.693429
min,1.000000,0.000000,1.000000,0.420000,0.000000,0.000000,0.000000
25%,223.500000,0.000000,2.000000,20.125000,0.000000,0.000000,7.910400
50%,446.000000,0.000000,3.000000,28.000000,0.000000,0.000000,14.454200
75%,668.500000,1.000000,3.000000,38.000000,1.000000,0.000000,31.000000
max,891.000000,1.000000,3.000000,80.000000,8.000000,6.000000,512.329200

In [8]:
df.isna().sum()

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

In [9]:
df.drop("Cabin",axis=1,inplace=True)

In [10]:
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,S

In [11]:
filtered_age = df[df.Age>40]
filtered_age

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Embarked
6,7,0,1,"McCarthy, Mr. Timothy J",male,54.0,0,0,17463,51.8625,S
11,12,1,1,"Bonnell, Miss. Elizabeth",female,58.0,0,0,113783,26.5500,S
15,16,1,2,"Hewlett, Mrs. (Mary D Kingcome)",female,55.0,0,0,248706,16.0000,S
33,34,0,2,"Wheadon, Mr. Edward H",male,66.0,0,0,C.A. 24579,10.5000,S
35,36,0,1,"Holverson, Mr. Alexander Oskar",male,42.0,1,0,113789,52.0000,S
...,...,...,...,...,...,...,...,...,...,...,...
862,863,1,1,"Swift, Mrs. Frederick Joel (Margaret Welles Ba...",female,48.0,0,0,17466,25.9292,S
865,866,1,2,"Bystrom, Mrs. (Karolina)",female,42.0,0,0,236852,13.0000,S
871,872,1,1,"Beckwith, Mrs. Richard Leonard (Sallie Monypeny)",female,47.0,1,1,11751,52.5542,S
873,874,0,3,"Vander Cruyssen, Mr. Victor",male,47.0,0,0,345765,9.0000,S
879,880,1,1,"Potter, Mrs. Thomas Jr (Lily Alexenia Wilson)",female,56.0,0,1,11767,83.1583,C

In [12]:
sorted_passengers = df.sort_values('Name',ascending=True,kind ='heapsort')

In [13]:
sorted_passengers.head(10)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Embarked
845,846,0,3,"Abbing, Mr. Anthony",male,42.0,0,0,C.A. 5547,7.5500,S
746,747,0,3,"Abbott, Mr. Rossmore Edward",male,16.0,1,1,C.A. 2673,20.2500,S
279,280,1,3,"Abbott, Mrs. Stanton (Rosa Hunt)",female,35.0,1,1,C.A. 2673,20.2500,S
308,309,0,2,"Abelson, Mr. Samuel",male,30.0,1,0,P/PP 3381,24.0000,C
874,875,1,2,"Abelson, Mrs. Samuel (Hannah Wizosky)",female,28.0,1,0,P/PP 3381,24.0000,C
365,366,0,3,"Adahl, Mr. Mauritz Nils Martin",male,30.0,0,0,C 7076,7.2500,S
401,402,0,3,"Adams, Mr. John",male,26.0,0,0,341826,8.0500,S
40,41,0,3,"Ahlin, Mrs. Johan (Johanna Persdotter Larsson)",female,40.0,1,0,7546,9.4750,S
855,856,1,3,"Aks, Mrs. Sam (Leah Rosen)",female,18.0,0,1,392091,9.3500,S
207,208,1,3,"Albimona, Mr. Nassef Cassem",male,26.0,0,0,2699,18.7875,C

In [14]:
merged_df=pd.merge(df.head(2),df.tail(2),how='outer',indicator=True)

In [15]:
merged_df

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Embarked,_merge
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,S,left_only
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C,left_only
2,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C,right_only
3,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,Q,right_only

In [16]:
group_df = df.groupby('Name')

In [17]:
group_df